/***********default settings**********/
body {font-family: "微软雅黑","Arial","Helvetica","sans-serif";font-size:16px;background:##f2f2f2}
a {color:#4A75B5;text-decoration:none;outline:none;}
a:hover {text-decoration:underline}
a.external {padding-right:13px;background:url('/images/icons.gif') no-repeat right 1px;}
a.external:hover {background-position:right -14px;}
.entry-title,.entry-title a {font-size:30px;font-weight:bold;margin-bottom:6px;color:#000;text-align:center;}
.entry-title a:hover {text-decoration:none;}
.entry-date {text-align:center;color:#999;margin-bottom:60px;font-size:14px;}

h2 {font-size:22px;font-weight:bold;margin-bottom:25px;}
h3 {font-size:18px;font-weight:bold;margin-bottom:25px;}
h4,h5,h6 {font-weight:bold;margin-bottom:15px;}
p {margin-bottom:25px;line-height:1.5em;}
code {background:#eee;border:1px solid #ccc;padding:0 5px;font-family:"Courier";line-height:14px;font-size:14px;word-wrap:break-word;}
pre {background-color:#000;padding:15px;overflow:auto;margin-bottom:20px;font-size:14px;border: 1px solid #eee;-webkit-border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;border-radius: 4px 4px 4px 4px;color:#b9bdb6}
pre code{background-color:transparent;border:none;padding:0;word-wrap:normal;}
pre ol{margin-left:25px;list-style-type:decimal;}

/************layout style*****************/
#head {width:100%;height:60px;margin-bottom:20px;}
#content {width:650px;margin:0 auto;min-height:400px;height:auto !important;height:400px;}

/***************header style************/
#head .logo {font-size:30px;font-weight:bold;margin-top:18px;padding-left:20px;}
#head .logo a{color:#999;}
#head .logo a:hover {text-decoration:none;color:#666;}
#head .logo a:active {position:relative;top:1px;opacity:0.9;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=90)";filter:alpha(opacity=90);}

/****************entry style**************/
#content .entry{margin-bottom:50px;}
.entry ul{margin-bottom:25px;margin-left:25px;margin-top:-15px;}
.entry ul li{margin-bottom:5px;list-style:disc;line-height:1.5em;}
.entry ol{margin-bottom:25px;margin-left:25px;margin-top:-15px;}
.entry ol li{margin-bottom:5px;list-style:decimal;line-height:1.5em;}
.entry blockquote{margin-left:25px;font-size:14px;font-style:italic}
.entry img{max-width:650px;display:block;margin:10px auto;}

#menuIndex {position:fixed;top:60px;right:20px;width:200px;overflow:auto}
#menuIndex a {display:block}
#menuIndex a:hover {text-decoration:none;}
#menuIndex ul li{font-size:12px;margin-bottom:5px;word-wrap:break-word;padding-left:10px;}
#menuIndex ul li.on{background-color:#eee}
#menuIndex li.h1{font-size:14px;font-weight:normal;padding-left:0;margin-bottom:10px;}
#menuIndex li.h3{padding-left:25px;}

#about{background:#FFFFFF;width:100%;margin:0 auto;border-top:6px solid #026b8c;overflow:hidden;margin-top:5px;font-size:14px;line-height:1em;}
#about .about-content {width:720px;margin:10px auto;}
#about h2{color:#bbb;font-size:24px;font-weight:bold;border-bottom:1px solid #444;line-height:45px;}
#about .about-left{float:left;width:200px;color:#999;}
#about .about-more {margin-left:60px;}
#about .weibo-con{margin-top:-10px;margin-left:-14px;}
#about .copyright {margin-top:15px;font-size:14px;color:#666;overflow:hidden;}
#about a:link,
#about a:visited,
#about a:hover,
#about a:active {color:#5e8dba;outline:none;text-decoration:none;}
#about a:hover {text-decoration:underline;}